/* Write your CSS here */

.configuration-controller-container {
  width: 100vw;
  background-color: #475569;
  font-family: 'Roboto';
  color: #ffffff;
  padding: 20px 0 20px 20px;
}

.check-boxes-container {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.check-box {
  margin-right: 10px;
}
